<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理</title>
</head>
<body>
<h1>图书管理</h1>
<br>
<form method="post">
    {{ form.csrf_token() }}<br>
    {{ form.author.label }}{{ form.author }}<br>
    {{ form.book.label }}{{ form.book }}<br>
    {{ form.submit }}<br>

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

</form>

<hr>
<br>
{#将后端传入的数据获取，并进行渲染输出#}
{% for author in authors %}
    <ul>
        <li>{{ author.name }} <a href="delete_author/{{ author.id }}">删除</a> </li>
        <ul>
            {% for book in author.books %}
{#                <li>book</li>  错误写法！！！！！！！！！！！#}
                <li>{{ book.name }} <a href="delete_book/{{ book.id }}">删除</a> </li>
            {% endfor %}
        </ul>
    </ul>
{% endfor %}


</body>
</html>